// Place all the styles related to the sensors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#chart {
  width: 100%;
  height: 400px;
}
